@import "tailwindcss";

/* Dark mode as default */
:root {
  --bg: #191A1B;
  --text: #F3DDCA;
  --text-muted: #FCF5EF;
  --primary: #F84733;
  --container: #3B3C3E;
}

/* Light mode */
html:not(.dark) {
  --bg: #F8F8F8;
  --text: #191A1B;
  --text-muted: #838A8D;
  --primary: #F84733;
  --container: #FCF6F0;
}

html {
  color-scheme: dark;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
